<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invitation</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <style>
        body {
            margin: 0;
            padding: 0;
            background-color: #ffffff;
            font-family: "Inter", sans-serif;
            width: 100%;
            background-color: #690895;
        }

        .email-container {
            margin: auto;
            width: 100%;
            max-width: 600px;
            padding: 100px 150px;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
        }


        .inner-container {
            background-color: #DDDDDD;
            border-radius: 40px;
            overflow: hidden;
            padding: 36px;
        }

        #date {
            text-align: right;
            font-size: small;
        }

        #title {
            color: #31013F;
            font-weight: 400;
        }

        #owner {
            color: #31013F;
            font-weight: 900;
            font-size: 40px;
            margin: 0;
            margin-top: 16px;
        }

        #eventCode {
            font-weight: bold;
        }

        @media screen and (max-width: 600px) {
            .email-container {
                width: 100vw;
                padding: 60px 0px
            }

            #background-image {
                width: 100vw;
            }

            .inner-container {
                padding: 20px;
                width: 80%;
            }

            #title {
                font-size: 16px;
            }

            #owner {
                font-size: 24px;
            }

            #eventCode {
                font-size: 14px;
            }

            #description {
                font-size: 12px;
            }
        }
    </style>
</head>

<body>
    <div class="email-container">
        <div class="inner-container">
            <p id="date">
                <%= eventDate %>
            </p>
            <i id="title">Halo! Anda telah diundang ke <%= eventName %></i>
            <p id="owner">
                <%= owner %>
            </p>
            <p id="eventCode">Kode Acara : <%= eventToken %>
            </p>
            <p id="description">Untuk informasi lebih lanjut, silahkan download Guestify dan masukan kode diatas.
                Selamat
                bersenang-senang!
            </p>
        </div>
    </div>
</body>

</html>